.EmployesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.pagination li button {
    padding: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: serif;
    cursor: pointer;
}

.EmployesContent .inputSearch {
    width: 100%;
    position: relative;
}

.EmployesContent .inputSearch input {
    width: 100%;
    padding: 0.4rem 0.8rem;
}

.EmployesContent .inputSearch #icon {
    position: absolute;
    right: 0.4rem;
    opacity: 0.8;
    top: 0.5rem;
}

.EmployesContent .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.EmployesContent .header button {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}
