.formX {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formX form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #008235;
    padding: 2.4rem 4.8rem;
    color: #fff;
}

.formX form label,
.formX form input {
    font-family: serif;
}
