.newForm {
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}

.newForm label {
    display: block;
    margin-bottom: 10px;
}

.newForm input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.newForm input[type="submit"] {
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.newForm input[type="submit"]:hover {
    background-color: #007bff;
    color: #fff;
}

.return {
    background-color: green;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    transition: 0.3s;
}

.return:hover {
    padding: 0.2rem 1rem;
}
